{% extends 'base.html' %}
{% block title %}歡迎光臨我的部落格{% endblock title%}
{% block headmessge %}<h1 style="font-family:微軟正黑體;font-size:20px">歡迎，本站文章列表</h1>{% endblock headmessge %}
{% block content %}
<table>
    {% for post in posts %}
    <tr>
        <td style="padding: 0px 5px;">{{post.id}}</td>
        <td style="padding:0 10px"><a href='/post/{{post.slug}}' style="text-decoration-line: none;">{{post.title}}</a></td>
        <td>{{post.pub_date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
