<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11056012</title>
</head>
<style>
    td{
        font-size: 15px;
        padding: 5px 12px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    a{
        text-decoration: none;
        color: blue;
    }
    p{
        background-color: black;
        color: white;
        padding: 10px 5px;
    }
</style>
<body>
    <h1>歡迎</h1>
    <table>
        {% for post in posts %}
        <tr>
            <td style="padding: 0px 10px;">{{post.id}}</td>
            <td style=""><a href='/post/{{post.slug}}'>{{post.title}}</a></td>
            <td>{{post.pub_date}}</td>
        </tr>
        {% endfor %}
    </table>
        <p>nowTime:{{ now }}</p>
</body>
</html>